{% extends 'layout/base.html' %}

{% block title %}Update your password{% endblock %}

{% block content %}
<div class="flex flex-col gap-12">
    <header>
        <div class="flex flex-col gap-2">
            <h1 class="text-2xl">Update Password</h1>
            <p class="text-gray-500">Please enter your new password twice so we can verify you typed it in correctly.</p>
        </div>
    </header>
    <section>
        {% if validlink %}
            <form method="post">
                {% csrf_token %}
                <div class="flex flex-col gap-16">
                    <div class="flex flex-col gap-4">
                        {% if form.errors %}
                            <div>
                                <p>{{form.errors }}</p>
                            </div>
                        {% endif %}
                        <div class="flex flex-col gap-2 border px-4 py-2">
                            <label for="id_new_password1">New password</label>
                            {{ form.new_password1 }}
                        </div>
                        <div class="flex flex-col gap-2 border px-4 py-2">
                            <label for="id_new_password2">Confirm password</label>
                            {{ form.new_password2 }}
                        </div>
                    </div>
                    <div class="flex flex-col">
                        <button type="submit" class="bg-gray-800 py-3 text-white">Change Password</button>
                    </div>
                    <div class="">
                        <div>Don't have an account ? <a href="#" class="text-blue-500 hover:underline">Sign up here.</a></div>
                    </div>
                </div>
            </form>
        {% else %}
            <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
        {% endif %}
    </section>
</div>
{% endblock %}